@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body
{
    margin     : 0;
    font-family: 'Mulish', sans-serif;
    /*background : #8f57fd;*/
    background     : linear-gradient(#9b5de5 ,#8338ec);
    color: #fff;
    overflow-x: hidden;
}
*
{
    box-sizing: border-box;
}